*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    background-image: url('../../../assets/3514.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}    

.signin{
    max-width: 330px;
    width: 100%;
    height: auto;
    background: rgb(243, 239, 233);
    padding: 30px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    border-radius: 30px;
    box-shadow: inset 0 1px 2px rgba(202, 117, 48, 0.329);
}

.signin .title{
    margin-bottom: 11px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(202, 117, 48);
}

.signin .form .inputField .input{
    max-width: 255px;
    margin: 0px auto;
    width: 100%;
    height: 42px;
    padding: 10px;
    border: 1.5px solid rgb(192, 172, 154);
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    background: rgb(245, 242, 238);
    color: black;
    margin-top: 20px;    
}

.signin .form .inputField .input:focus{
    border-color: rgb(36, 32, 87);
}

#hide1{
    display: none;
}
.signin .form .forgetPass a{
    color: rgb(35, 49, 175, 0.973);
    position: absolute;
    right: 48px;
    font-size: 13px;
    margin-top: 13px;
    font-weight: bold;
}

.signin .form .btn{
    width: 95%;
    margin: 20px auto 0;
    background:  rgb(202, 117, 48);
    padding: 12px;
    text-align: center;
    border-radius: 15px;
    margin-top: 44px;
    margin-bottom: 15px;
    margin-left: 2px;
}    
.signin .form .btn .btn_sign{
    background: rgb(202, 117, 48);
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 0%;
}

.instruction{
    margin-bottom: 20px;
}

.signin .form .instru {
    font-size: 13px;
    margin-top: 5px;
    position: absolute;
    text-align: right;
    left: 40px;
    display: inline-block;
    color: rgb(63, 61, 61);
}

.signin .form .instru1 a{
    color: rgba(35, 49, 175, 0.973);
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    right: 55px; 
}